@import '../../mixins';

.companies {
  .heading {
    @include d-flex(row, space-between, center);
    width: 100%;
  }
}

.add-company {
  @include d-flex(column, flex-start, flex-start);
  width: 100%;
  max-width: 400px;
  gap: 1rem;

  * {
    color: var(--text-color1);
  }
}

.btns {
  @include d-flex(row, space-between, flex-start);
  width: 100%;
}